{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <h1>Edit Game</h1>
    <div class="container"  style="justify-content: center; text-align: center; background-color: #f8f9fa; text-center">

    {{ include('vu_game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vu_game_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('vu_game/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
