{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('vu_game/_form.html.twig') }}

    <a href="{{ path('app_vu_game_index') }}">back to list</a>
{% endblock %}
