{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    <h1 class="mb-3 text-center bg-body-tertiary">Edit Tournament</h1>
    <div class="container"  style="justify-content: center; text-align: center; background-color: #f8f9fa; text-center">
    {# <div class="btn-group"> dans le fichier => #}
    {{ include('vu_tournament/_form.html.twig', {'button_label': 'Update'}) }}
    
    {{ include('vu_tournament/_delete_form.html.twig') }}
    <a href="{{ path('app_vu_tournament_index') }}" class="btn btn-secondary">Back to List</a>
    </div>
    </div>
{% endblock %}
