{% extends 'base.html.twig' %}

{% block title %}New Registration{% endblock %}

{% block body %}
    <h1>Create new Registration</h1>
    <div class="container" style="justify-content: center; text-align: center; background-color: #f8f9fa; text-center">

    {{ include('vu_registration/_form.html.twig') }}

    <a href="{{ path('app_vu_registration_index') }}" class="btn btn-secondary">back to list</a>
    </div>


    
{% endblock %}



